.estilos-listado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    color: black;
    width: 90%;
    height: auto;
}